pkgbase = nagame
	pkgdesc = Dynamic Wayland display and wallpaper manager
	pkgver = 0.0.2
	pkgrel = 1
	url = https://github.com/iliyaj/nagame
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	optdepends = awww: wallpaper management support
	options = !debug
	options = !lto
	source = nagame-0.0.2.tar.gz::https://github.com/iliyaj/nagame/archive/refs/tags/v0.0.2.tar.gz
	sha256sums = 24654547ba5fa021d553225d41fc7c37fad28304d1fec25d91aed6584989b010

pkgname = nagame
